<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="classSuite">
  <test thread-count="5" name="classTest">
    <classes>
      <class name="automation.Class_02"/>
      <class name="automation.Class_01"/>
    </classes>
  </test> <!-- classTest -->
</suite> <!-- classSuite -->
